
.tong ul{
    list-style: none;
    background: greenyellow;
    display: flex;
    padding: 50px;
    justify-content: space-between;

}
.con>*{
    display: flex;
    flex-direction: column;
    
}
.chau{
   padding-left: 120px;
   width: 300px;
}
.con,.chau{
    display: none;
}
.b:hover>.con{
    display: block;
}
.d:hover>.chau{
    display: block;
}
table{
    border-collapse: collapse;
}

