.w{
    background-color: rgb(236, 233, 233);
    padding: 1px;
}
.c{
    display: flex;
    justify-content:space-between;
}

.b{
    text-align: center;
}
.d{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: red;
}
img{
    width: 200px;
    height: 100px;
    margin-left: 20px;
}
.e{
    position: relative;
    left: 200px;
}
.f{
    position: relative;
    left: 30px;
}